.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.App h1 {
  position: absolute;
  top: 0;
  font-size: 3rem;
  margin: 0;
  margin-top: 12px;
}

.App h1:nth-of-type(1) {
  left: 50%;
  transform: translate(-100%);
  color: #EAE7DC;
}

.App h1:nth-of-type(2) {
  left: 50%;
  color: #BC4639;
}

.App .Section {
  width: 50%;
  height: 100%;
}

.App .Section:nth-of-type(1) {
  background: #BC4639;
}

.App .Section:nth-of-type(2) {
  background: #EAE7DC;
}


@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  .App h1 {
    font-size: 2rem
  }
  
  .App h1:nth-of-type(2) {
    color: #EAE7DC;
  }
  
  .App .Section {
    width: 100%;
  }

  .App .Post {
    height: 25vh;
  }

  .App .Discussion {
    height: 75vh;
  }
}